<!-- hero -->
<section class="hero hero-with-header pattern bg-orange">
    <div class="image image-overlay image-zoom" style="background-image:linear-gradient( to right bottom,
            rgba(0, 0, 0, 0.3),
            #161c1d  ),url(../../assets/cooodit/cover-2.jpg)"></div>
            <div class="container">
              <div class="row justify-content-center">
                <div >
                  <h2> <strong class="font-weight-bold text-white">POLITIQUE COOKIES</strong> </h2>
                </div>
              </div>    
      </section>
      <!-- / hero -->
<div class="row justify-content-center">
  
</div>